<div class="row">
   <div class="col-xs-12 text-center">
      <h3>You've been unsubscribed</h3>
   </div>
</div>
<div class="row">
   <div class="col-xs-12 text-center">
      <h3>You will no longer receive a song a day</h3>
   </div>
</div>
